@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	text-align: center;
	background-color: #1b2034;
	color: #fff;
}

img {
	display: block;
	width: 480px;
	height: 480px;
	margin: 2rem auto;
}

.app {
	padding: 2rem;
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

input {
	appearance: none;
	outline: none;
	border: none;
    color: slategray;
	background: #EEE;
	width: 100%;
	max-width: 320px;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	margin-right: 1rem;
}

.color-picker {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 10px;
}

.hex {
	text-align: center;
	padding-left: 10px;
	display: flex;
	align-items: center;
}

button, a {
	font-weight: bolder;
	appearance: none;
	border: none;
	background: none;
	cursor: pointer;
	color: white;
	font-size: 1.5rem;
	text-decoration: none;
	background: #2bcb4b;
    border-radius: 5px;
    padding: 5px;
}

button:hover, a:hover {
	color: #2bcb4b;
	background: white;
	padding: 6px;
}

.color-div {
	display: flex;
	justify-content: center;
}

.message {
	color: red;
	font-weight: bold;
}